/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;300;400;500&display=swap');

.gb_Pa.gb_Td .gb_b.gb_w {
  margin-right: 2.5rem;
}
#skoop-webcam-container {
  border-radius: 10px;
}

#skoop-extension-container {
  position: fixed;
  top: 4px;
  right: 40px;
  width: 12.2vw;
  height: 98vh;
  z-index: 10000;
  display: block;
  border-radius: 6px;
  background-clip: padding-box;
  min-width: 355px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}


.video-pause-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#countdown-overlay{
  font-family: "Montserrat", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Default button styles */
.skoop-comment-section {
  margin: 5px 20px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.rounded-button {
  border-radius: 15px;
  height: 30px;
  padding: 0 15px;
  border: 1px solid;
  background-color: #2d68c4;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 12px; /* Default font size */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Responsive styles */
@media (max-width: 600px) {
  .rounded-button {
      font-size: 10px; /* Smaller font size on small screens */
      padding: 0 10px; /* Adjust padding for smaller screens */
      height: 25px; /* Smaller height for smaller screens */
  }

  .skoop-comment-section {
      margin: 5px 10px; /* Adjust margins for smaller screens */
      gap: 8px; /* Adjust gap between buttons */
  }
}

@media (max-width: 400px) {
  .rounded-button {
      font-size: 8px; /* Further decrease font size on very small screens */
      padding: 0 8px; /* Adjust padding for very small screens */
      height: 20px; /* Smaller height for very small screens */
  }

  .skoop-comment-section {
      margin: 5px 5px; /* Further adjust margins */
      gap: 5px; /* Adjust gap between buttons */
  }
}
