.auth-head-content {
  font-family: "Lato", sans-serif;
}

.auth-head-content h1 {
  color: #2a2b39;
  font-weight: 600;
  font-size: 24px;
}

.auth-head-content p {
  color: #2c2d2e80;
  font-weight: 400;
  font-size: 16px;
}

.sign-in-form {
  margin-top: 3rem;
}

#custom-input-box {
  color: #2a2b39;
  border-color: #a9aaabcc;
  font-family: "Montserrat", sans-serif;
  padding: 12px;
  border-radius: 8px;
}

.input-empty {
  border-color: #e31a1a;
}

#custom-input-box:focus {
  border-color: #ff8210;
  box-shadow: none;
}

#custom-input-box::placeholder {
  color: #a9aaabcc;
  font-family: "Montserrat", sans-serif;
}

#custom-password-input-box {
  color: #2a2b39;
  border-color: #a9aaabcc;
  padding: 12px;
  border-radius: 8px;
}

#custom-password-input-box:focus {
  border-color: #ff8210;
  box-shadow: none;
}

#custom-password-input-box::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #a9aaabcc;
}

#time-zone-dropdown {
  color: #2a2b39;
  border-color: #a9aaabcc;
  padding: 12px;
  border-radius: 8px;
}

#time-zone-dropdown:focus {
  border-color: #ff8210;
  box-shadow: none;
}

#custom-btn {
  background-color: #2d68c4;
  padding: 12px;
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 16px;
}

.or-with-label {
  font-family: "Montserrat", sans-serif;
  color: #2a2b39e5;
  font-size: 16px;
  font-weight: 400;
}

#sign-in-with-linkedIn {
  font-family: "Poppins", sans-serif;
  background-color: #007bb5;
  border-radius: 8px;
  padding: 12px;
}

#sign-in-with-google {
  font-family: "Poppins", sans-serif;
  border: 1px solid #a9aaabcc;
  border-radius: 8px;
  padding: 12px;
  color: #2a2b39;
}

#sign-in-with-google:hover {
  background-color: transparent;
}

.auth-footer-label {
  font-family: "Montserrat", sans-serif;
  color: #2a2b39;
}

.orange-label {
  font-weight: 600;
  color: #ff8210;
}

.sign-up-privacy-policy {
  font-family: "Montserrat", sans-serif;
  color: #2a2b39;
  font-weight: 400;
  font-size: 14px;
}

.sign-up-privacy-policy span {
  color: #ff8210;
}

.forgot-password-head div h6 {
  font-family: "Lato", sans-serif;
  color: #2c2d2e;
}

.forgot-password-head div img {
  width: 8rem;
}

.forgot-password-content {
  height: 44vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot-password-title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.forgot-password-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.forgot-password-step-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.resend-otp {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.forgot-password-label {
  color: #2a2b39e5;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.password-with-tooltip {
  position: relative;
}

#password-tooltip {
  position: absolute;
  top: 3.5rem;
  left: 11rem;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  width: 22rem;
  z-index: 999;
  font-family: "Montserrat", sans-serif;
}

#password-tooltip h5 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

#password-tooltip ul li {
  font-size: 14px;
}

#time-zone-dropdown::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #a9aaabcc;
}

.time-zone-main {
  font-family: "Montserrat", sans-serif;
}

.time-zone-head h2 {
  font-size: 16px;
  font-weight: 400;
}

#timezone-search-input-box {
  color: #2a2b39;
  border-color: #a9aaabcc;
  font-family: "Montserrat", sans-serif;
  padding: 12px 12px 12px 3rem;
  border-radius: 8px;
}

#timezone-search-input-box:focus {
  border-color: #ff8210;
  box-shadow: none;
}

#timezone-list-container {
  height: 200;
}

.timezone-item {
  font-weight: 400;
  font-size: 16px;
  padding: 12px;
  border-bottom: 1px solid #a9aaab99;
}

#selected-timezone {
  background-color: #eee3fc;
  display: flex;
  justify-content: space-between;
}
