#skoop_record_button {
  border-radius: 50%;
  border: 1px solid #d10202;
  outline: 1px solid #d10202;
  outline-offset: 5px;
  background-color: #d10202;
  color: white;
  width: 65px;
  height: 65px;
  padding: 2px;
  margin-top: 7px;
  margin-bottom: 10px;
}

#skoop_record_button_audio {
  border-radius: 50%;
  border: 1px solid #0A66C2;
  outline: 1px solid #0A66C2;
  outline-offset: 5px;
  background-color: #0A66C2;
  color: white;
  width: 65px;
  height: 65px;
  padding: 2px;
  margin-top: 7px;
  margin-bottom: 10px;
}