.welcome-main {
  height: 100vh;
  background: linear-gradient(to bottom, #2d68c4, #1a3b6e);
  position: relative;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

@keyframes animateWelcomeContainer {
  from {
    visibility: hidden;
    opacity: 0;
    top: 46%;
    width: 7rem;
  }
  to {
    visibility: visible;
    opacity: 1;
    top: 25%;
    width: 15rem;
  }
}

.welcome-image-container {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 40%;
  left: 50%;
  width: 8rem;
  padding: 2rem;
  transform: translate(-50%, -70%);
  display: flex;
  justify-content: center;
  animation: animateWelcomeContainer 2s ease-out forwards;
  animation-delay: 3s;
}

.welcome-image-container img {
  width: 80% !important;
}

.logo-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
}

.logo-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 1.5rem;
}

@keyframes animateLogoImage {
  from {
    height: 100%;
    margin-top: -10rem;
  }
  to {
    margin-top: -5rem;
    height: 50%;
  }
}

.logo-content img {
  height: 100%;
  animation: animateLogoImage 2s ease-out forwards;
  animation-delay: 1500ms;
}

@keyframes animateLogoTitle {
  from {
    font-size: 32px;
  }
  to {
    font-size: 28px;
  }
}
.top-header h4, .top-header h6 {
  color: #eee3fc !important;
}
.subscription-option-welcome h5 {
  color: #000;
}
.logo-content h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-top: -0.5rem;
  animation: animateLogoTitle 2s ease-out forwards;
  animation-delay: 1500ms;
}
.top-header h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-top: -0.5rem;
  animation-delay: 1500ms;
}

@keyframes animateDescription {
  from {
    opacity: 0;
    visibility: hidden;
    margin-top: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
  }
}
.welcome-content {
  padding-left: 10px;
  padding-right: 10px;
}
.welcome-content p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: white;
  margin-top: 0;

  visibility: hidden;
  opacity: 0;
  animation: animateDescription 1s ease-out forwards;
  animation-delay: 0.5s;
}

@keyframes animationGetStartBtn {
  from {
    visibility: hidden;
    opacity: 0;
    margin-top: 10rem;
  }
  to {
    visibility: visible;
    opacity: 1;
    margin-top: 1rem;
  }
}
.welcome-content .get-started-btn {
  visibility: hidden;
  opacity: 0;
  margin-top: 15rem;
  animation: animationGetStartBtn 2s ease-out forwards;
  animation-delay: 4s;
}
.welcome-content .top-header {
  text-align: center;
}
.welcome-content .top-header img {
  height: 60px;
}

@keyframes animateVersion {
  from {
    bottom: 10rem;
  }
  to {
    bottom: 5rem;
  }
}

.app-version {
  /* width: 100px;
  left: -3rem;
  position: absolute; */
  bottom: 10rem;
  animation: animateVersion 2s ease-out forwards;
  animation-delay: 1500ms;
}

.app-version p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.subscription-option-welcome {
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-left: 20px;
  color: #000;
  background-color: #eee3fc;
}
.subscription-option-welcome p {
  color: #000;
}


.coupon-text {
  display: inline-block;
  vertical-align: middle;
}

.check-icon {
  vertical-align: middle;
  margin-bottom: 0.125em; /* Adjust as needed */
}